@font-face {
    font-family: Dosis-ExtraLight;
    src: url('../font/Dosis-ExtraLight.ttf');
}

@media (max-width: 600px) {
    .grid {
        flex-direction: column;
        width: 100%;
    }
}

.card {
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
    border-color: #3789e6;
    color: #3789e6;
}

.card h3 {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
}

.card {
    background-color: #edf5e0;
    border-radius: 10px;
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.2);
    color: inherit;
    flex-basis: 45%;
    font-family: Dosis-ExtraLight;
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    text-decoration: none;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    font-size: 1.1rem;
    padding: 0.75rem;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 0 0.5rem;
}

.description {
    line-height: 1.5;
    font-size: 1.5rem;
}

.footer {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer img {
    margin-left: 0.5rem;
}

.footer a {
    align-items: center;
    display: flex;
    justify-content: center;
}

.grid {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    max-width: 800px;
}

.logo {
    height: 1em;
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding: 5rem 0;
}

.socialIcons {
    align-items: right;
    color: #edf5e0;
    font-size: 10rem;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.socialIcons:hover,
.socialIcons:focus,
.socialIcons:active {
    color: #3789e6;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    font-size: 4rem;
    line-height: 1.15;
    margin: 0;
}

.title,
.description {
    text-align: center;
}
